{
   "htmloutput":{
      "file":"/var/www/html/outlets.html"
   },
   "outlets":{
      "A":{
         "name":"Terasse",
         "cmd_on":"http://esp01433/socket2On",
         "cmd_off":"http://esp01433/socket2Off",
         "operations":{
            "1":{
               "type":"calculate",
               "on":"sunset;+30",
               "off":"sunset;+90"
            }
         }
      },
      "B":{
         "name":"Schuppen",
         "cmd_on":"http://esp01433/socket3On",
         "cmd_off":"http://esp01433/socket3Off",
         "operations":{
            "1":{
               "type":"calculate",
               "on":"sunset;+30",
               "off":"sunset;+90"
            }
         }
      },
      "C":{
         "name":"linke Steckdose",
         "cmd_on":"http://esp01433/socket0On",
         "cmd_off":"http://esp01433/socket0Off",
         "operations":{
            "1":{
               "type":"time",
               "on":1650,
               "off":1655
            }
         }
      },
      "D":{
         "name":"rechte Steckdose",
         "cmd_on":"http://esp01433/socket1On",
         "cmd_off":"http://esp01433/socket1Off",
         "operations":{
            "1":{
               "type":"time",
               "on":1615,
               "off":1655
            },
            "2":{
               "type":"calculate",
               "on":"sunset;+0",
               "off":"sunset;+60"
            }
         }
      }
   },
   "openweatherlocation":"zip=23569,de",
   "openweatherapikey":"####KEY###ä"
}